* {
    margin: 0;
}

body {
    text-align: center;
    color: #F8F9FA;
    background-color: #03071E;
    overflow-x: hidden;
    font-family: Open Sans, sans-serif;
}


main {
    margin: 0 auto;
    width: 100%;
}

/* Hero */
#hero {
    background-image: url("images/hero.jpg");
    background-size: cover;
    height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Livvic, sans-serif;
    font-size: 70px;
    text-align: center;
    padding: 0 15px 0 15px;
}

#btn-hero {
    background-color:#6A040F ;
    color: inherit;
    font-size: 30px;
    font-family: inherit;
    border: 3px solid #F8F9FA ;
    padding: 10px 15px;
    margin-top: 40px;
    cursor: pointer;
}


/* Discover */

.gallery {
    display: flex;
    object-fit: cover;
    height: 600px;
    justify-content: space-between;   

}


.gallery img {
    border: 2px solid #F8F9FA;
  
}

.gallery img:hover {
    transform: scale(1.5)

}

#discover h2 {
    font-size: 40px;
    margin-bottom: 10px;
    font-family: Livvic, sans-serif;
}

#discover h3 {
font-size: 30px;
margin-bottom: 30px
font-family: Livvic, sans-serif;
}

.text-discover {
    margin: 20px 0 30px 0;
    padding: 0px 80px;
    text-align: justify;
    font-size: 18px;

}


/* Tour Guide */
#tour-guide {
    background-color: #370617;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 60px 20px;
    flex-wrap: wrap; /* Makes it responsive on small screens */
  }
  
  .img-guide {
    width: 300px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    border: 2px solid #F8F9FA;
  }
  
  .info-guide {
    max-width: 600px;
    text-align: left;
  }
  
  #btn-guide {
    background-color: #6A040F;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: 2px solid #fff;
    cursor: pointer;
    margin-top: 20px;
    font-family: Livvic, sans-serif;

  }
  
  #tour-guide h2 {
    font-family: Livvic, sans-serif;
  }

  #tour-guide h3 {
    font-family: Livvic, sans-serif;
    margin-bottom: 15px;
  }

/* Testimonials */

.avatar{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;

}

.client{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 80px;
}

#testimonials h2{
    font-size: 40px;
    font-family: Livvic, sans-serif;
}



/* Footer */
footer {
    background-color: #370617;
    padding: 15px 20px;
    margin-top: 40px;
}